# .NET
bin/
obj/
.vs/
*.user
*.suo

# Rider
.idea/

# Logs
*.log

# App configs (se contêm senhas ou strings de conexão)
appsettings.Development.json
appsettings.json

# Docker
*.pid
Dockerfile.*
docker-compose.override.yml

# Outros
.env

